@model IEnumerable<Dicta_Sanctorum.Models.SaintModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.feastDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.birthYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deathYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.canonizationYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prayer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.feastDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.birthYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deathYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.canonizationYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prayer)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
